{% extends 'main/base.html' %}
{% load static %}
{% block title %}About Us{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/about.css' %}">
{% endblock %}
{% block content %}
<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="{% static 'images/stick.jpg' %}" alt="Jane" style="width:70%">
        <div class="container">
          <h2>Member 1</h2>
          <p class="title">CEO & Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>member1@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="{% static 'images/stick.jpg' %}" alt="Mike" style="width:70%">
        <div class="container">
          <h2>Member 2</h2>
          <p class="title">Art Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>member2@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="{% static 'images/stick.jpg' %}" alt="John" style="width:70%">
        <div class="container">
          <h2>Member 3</h2>
          <p class="title">Designer</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>member3@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
